#contact-h1 {
    font-size: clamp(180px, calc(11.25rem + ((1vw - 9.92px) * 17.1569)), 250px);
    min-height: 0vw;
}

@media (max-width: 991px) {
    #contact-h1 {
        font-size: clamp(170px, calc(10.625rem + ((1vw - 7.68px) * 13.4529)), 200px);
        min-height: 0vw;
    }
}



#contact-hero-white-block {
    width: clamp(90px, calc(5.625rem + ((1vw - 9.92px) * 26.257)), 184px);
}

@media (max-width: 767px) {
    #contact-hero-white-block {
        width: 90%;
    }
}

/* .heading-m {
    font-size: clamp(48px, calc(3rem + ((1vw - 3.2px) * 10.7383)), 96px);
} */