#welcome-h2 {
    font-size: clamp(180px, calc(11.25rem + ((1vw - 9.92px) * 17.1569)), 250px);
    min-height: 0vw;
}

#small-team-text-wrapper, #home-hero-text-wrapper {
    margin-left: clamp(58px, calc(3.625rem + ((1vw - 9.22px) * 74.1573)), 190px);
    min-height: 0vw;
}

#page-identifier-wrapper {
    margin-left: clamp(38px, calc(2.375rem + ((1vw - 9.22px) * 14.0449)), 63px);
    margin-right: clamp(35px, calc(2.1875rem + ((1vw - 9.22px) * 24.1573)), 78px);
    min-height: 0vw;
}

#welcome-text-wrapper {
    margin-left: clamp(1px, calc(0.0625rem + ((1vw - 9.92px) * 61.039)), 189px);
    min-height: 0vw;
}

#welcome-img {
    width: clamp(230px, calc(14.375rem + ((1vw - 9.92px) * 29.4118)), 350px);
}

#home-h1 {
    font-size: clamp(48px, calc(3rem + ((1vw - 3.2px) * 10.7383)), 96px);
}

@media (max-width: 479px) {
    #home-hero-text-wrapper {
        margin-left: clamp(8px, calc(0.5rem + ((1vw - 3.2px) * 15.0943)), 32px);
    }
}






