.main-wrapper {
    margin-right: clamp(98px, calc(6.125rem + ((1vw - 9.92px) * 14.9554)), 165px);
}

@media (max-width: 991px) {
    .main-wrapper {
        margin-right: clamp(20px, calc(1.25rem + ((1vw - 7.68px) * 34.9776)), 98px);
    }
}


@media (max-width: 767px) {
    .main-wrapper {
        margin-right: 0px;
    }
}

.page-identifier-wrapper {
    margin-left: clamp(38px, calc(2.375rem + ((1vw - 9.92px) * 5.5804)), 63px);
    margin-right: clamp(35px, calc(2.1875rem + ((1vw - 9.92px) * 9.5982)), 78px);
}

@media (max-width: 991px) {
    .page-identifier-wrapper {
        margin-left: 38px;
        margin-right: 35px;
    }
}
