.portfolio-grid {
    grid-column-gap: clamp(12px, calc(0.75rem + ((1vw - 9.92px) * 5.5866)), 32px);
    /* background-color: aqua; */
}

.featured-card-text-wrapper {
    margin-left: clamp(8px, calc(0.5rem + ((1vw - 9.92px) * 8.9385)), 40px);
}

@media (max-width: 991px) {
    .featured-card-text-wrapper {
        margin-left: 40px;
    }
}

@media (max-width: 479px) {
    .featured-card-text-wrapper {
        margin-left: 16px;
    }
}

.main-wrapper-portfolio {
    margin-right: clamp(98px, calc(6.125rem + ((1vw - 9.92px) * 14.9554)), 165px);
}

@media (max-width: 991px) {
    .main-wrapper-portfolio {
        margin-right: clamp(20px, calc(1.25rem + ((1vw - 7.68px) * 34.9776)), 98px);
    }
}


@media (max-width: 767px) {
    .main-wrapper-portfolio {
        margin-right: 0px;
    }
}


@media (min-width: 992px) {
    .gallery-item {
        margin: 0 5px;
    }
}


@media (min-width: 767px) and (max-width: 991px) {
    .gallery-item {
        margin-left: clamp(2px, calc(0.125rem + ((1vw - 7.68px) * 0.901)), 4px);
        margin-right: clamp(2px, calc(0.125rem + ((1vw - 7.68px) * 0.901)), 4px);
    }
}


@media (min-width: 767px) {
div.gallery {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 600px;
    /* overflow: hidden; */
  }

  div.gallery-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 1 20px;
    height: 600px;
    /* margin: 0 5px; */
    /* background: #000; */
    overflow: hidden;
    transition: flex 4s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  
  div.gallery-item img {
    width: 600px;
    height: 100%;
    object-fit: contain;
    transform: scale(2.2);
  }

  img {
    max-width: none !important;
  }
}

  /* div.gallery-item-text-wrapper {
    transition: opacity 0.5s ease-in-out;
  } */

  .heading-s, .paragraph {
    color: inherit;
  }