.mask {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 999;
    transform: scale(1.05);
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.mask_box {
    position: relative;
    background-color: white;
    transform: scaleX(0);
    margin: -1px;
    padding: 0.5px;
    
}


/* Button Pointers */
@keyframes pointToRight {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(10px); /* Adjust the value as needed */
    }
    100% {
        transform: translateX(0);
    }
}

.btn_arrow {
    animation: none; /* Adjust the duration as needed */
}

.g_btn_1_wrap:hover .btn_arrow {
    animation: pointToRight 2s infinite; /* Stop the animation on hover */
}

/* Featured Grid*/
.featured_grid_card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.25));
    opacity: 0;
    transform: scale(1.0);
    transition: opacity 0.5s; 
}

.featured_grid_card:hover::before {
    opacity: 1;
}

.featured_grid_card:hover .featured_grid_card_image {
    transform: scale(1.15);
}

.featured_grid_card_image {
    transform: scale(1.0);
    transition: transform 0.5s; 
}